:root {
  --btn-disabled-color: #9E9E9E;
  --btn-disabled-background: #E0E0E0;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--btn-background);
  border-radius: 6px;
  background: var(--btn-background);
  box-shadow: var(--btn-shadow);
  cursor: pointer;
  transition: all 0.1s linear;
  color: var(--btn-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.btn:hover, .btn:focus {
  background-color: var(--btn-background-hover-dark);
}
.btn--variant-outline {
  color: var(--btn-background);
  border-color: var(--btn-background);
  box-shadow: var(--btn-shadow);
  background-color: transparent;
}

.btn--variant-outline:hover, .btn--variant-outline:focus{
  background: var(--btn-background-hover-light);
}

.btn--variant-text {
  color: var(--btn-background);
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0px 2px 3px transparent;
}

.btn--variant-text:hover, .btn--variant-text:focus{
  background:  var(--btn-background-hover-light);
  border-color:  var(--btn-background-hover-light);
}

.btn--size-sm{
  padding: 6px 12px;
}

.btn--size-lg{
  padding: 11px 22px;
}

.btn--no-shadow{
  box-shadow: unset;
}

.btn--color-default {
  --btn-color: #3F3F3F;
  --btn-background: #E0E0E0;
  --btn-background-hover-dark: #AEAEAE;
  --btn-background-hover-light: #AEAEAE;
  --btn-shadow: 0px 2px 3px #AEAEAE40;
}

.btn--color-primary {
  --btn-color: #fff;
  --btn-background: #2962FF;
  --btn-background-hover-dark: #0039CB;
  --btn-background-hover-light: #2962FF30;
  --btn-shadow: 0px 2px 3px #2962FF40;
}

.btn--color-secondary {
  --btn-color: #fff;
  --btn-background: #455A64;
  --btn-background-hover-dark: #1C313A;
  --btn-background-hover-light: #455A6430;
  --btn-shadow: 0px 2px 3px #455A6440;
}

.btn--color-danger {
  --btn-color:#ffffff;
  --btn-background: #D32F2F;
  --btn-background-hover-dark: #9A0007;
  --btn-background-hover-light: #D32F2F30;
  --btn-shadow: 0px 2px 3px #D32F2F40;
}

.btn--disabled {
  background: var(--btn-disabled-background);
  border-color: var(--btn-disabled-background);
  color: var(--btn-disabled-color);
  cursor: unset;
  box-shadow: unset;
}

.btn--disabled:hover, .btn--disabled:focus {
  background-color: var(--btn-disabled-background);
}

.btn--variant-outline-disabled {
  color: var(--btn-disabled-color);
  border-color: var(--btn-disabled-color);
  box-shadow: unset;
  background-color: transparent;
  cursor: unset;
}

.btn--variant-outline-disabled:hover, .btn--variant-outline-disabled:focus {
  background: transparent;
}

.btn--variant-text-disabled {
  color: var(--btn-disabled-color);
  border-color: transparent;
  background-color: transparent;
  box-shadow: unset;
  cursor: unset;
}

.btn--variant-text-disabled:hover, .btn--variant-text-disabled:focus {
  background: transparent;
  border-color: transparent;
}